<h2 class="text-center mt-5">Login form</h2>
<div class="row">
  <div class="col-12 col-sm-6">
    <img src="https://illustratious.s3.amazonaws.com/screenshots/t4dyka-creating-webp.webp" class="w-100" alt="">
  </div>
  <div class="col-12 col-sm-6 id">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
          <form>
            <div class="mb-3">
              <label for="un" class="form-label">Username</label>
              <input type="text" class="form-control" id="un">
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="Password">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter your email id">
            </div>
            <div class="mb-3">
              <label for="birthday" class="form-label">DOB</label>
              <input type="date" class="form-control" id="birthday" placeholder="dd-mm-yy">
            </div>
            <button type="submit" class="btn btn-primary mt-4 d-block mx-auto">Login</button>
          </form>
        </div>
        <div class="col-sm-2 col-md-3"></div>
    </div>

    
  </div>
</div>

