
<div class="row">
  <div class=" col-12 col-sm-6">
    <h1 class="mb-5">Contact Us</h1>

      <div class="row">
        <div class="col-2 text-center mx-auto">
          <h2>
            <li><i class="fas fa-address-card text-dark"></i></li>
          </h2>
        </div>
        <div class="col-10">
          <h5 class="text-dark">Address</h5>
          <h6>123 Main Street, Anytown, CA 12345 – USA</h6>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-2 text-center mx-auto">
          <h2>
            <li><i class="fas fa-phone"></i></li>
          </h2>
        </div>
        <div class="col-10">
          <h5 class="text-dark">Phone</h5>
          <h6>Mobile: (08) 123 456 789</h6>
          <h6>Hotline: 1009 678</h6>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-2 text-center mx-auto">
          <h2>
            <li><i class="far fa-envelope"></i></li>
          </h2>
        </div>
        <div class="col-10">
          <h5 class="text-dark">Email</h5>
          <h6>Example@email.com</h6>
          <h6>AnotherExample@gmail.com</h6>
        </div>
      </div>
    
  </div>

  <div class="col-12 col-sm-6">
    <h1 class="mb-5">Tell Us Your Message</h1>
    
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" palceholder="work email" id="email">
      </div>
      
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comment or Message</label>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-danger mt-4 d-block">Submit</button>
    </form>
  </div>
</div>

